@import url(./common.css);

.box {
    width: 150px;
    background-color: #4096ff;
    display: grid;
    place-items: center;
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease 0;
    /* 参数依次为：设置动画效果的属性、动画持续时间、速度曲线、延迟时间 */
}

.box p {
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    user-select: none;
}

.active {
    transform: scale3d(0.8, 0.8, 0.8)
}